<%- contentFor('body') %>

<% produtos.forEach((produto) => { %>
<div class="col">
    <div class="card shadow-sm">
      <% if (produto.dataValues.foto) { %>
        <img src="<%=produto.dataValues.foto%>" alt="">
      <%} else { %>
        <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false">
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Foto indisponível</text>
        </svg>
      <% } %>
        <title><%=produto.dataValues.nome%></title>

      <div class="card-body">
        <p class="card-text"><%=produto.dataValues.nome%></p>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted"><%=produto.dataValues.descricao.substr(0,100)%></small>
        </div>
        <p class="card-text">
          <% if(produto.dataValues.promocao){ %>
            <span style="color:red; text-decoration:line-through;">R$: <%=produto.dataValues.preco%></span> 
            <span style="color:blue">R$: <%=produto.dataValues.precoPromocao%></span></p>
          <% } else{ %>  
            <span>R$: <%=produto.dataValues.preco%></span> 
            <br>
         <% } %>
         <span class="text-muted">Postado em: <%=produto.postadoEm%></span> 
      </div>
    </div>
  </div>

  <% }) %>